*,
*::after,
*::before {
   box-sizing: border-box;
}
* {
   padding: 0;
   margin: 0;
   font-family: INTER, Arial, Helvetica, sans-serif;
}
:root {
   --color-primary: #1f2937;
   --color-secondary: rgb(58, 130, 246);
   --color-accent: #3a82f6;
   --color-darker-text: #c2c5cb;
}
html {
   font-size: 62.5%;
}
/* header */
header {
   height: 10vh;
   padding: 2rem 20rem;
   background-color: #1f2937;
   display: flex;
   font-size: 2rem;
   color: var(--color-darker-text);
   align-items: center;
   justify-content: space-between;
}

header div ul {
   list-style: none;
   display: flex;
   gap: 3rem;
   margin: 0;
}

header div ul a {
   font-weight: 400;
   text-decoration: none;
   color: var(--color-darker-text);
}
.header_logo {
   font-weight: 1000;
}
/* section 1 */
section {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8rem 20rem;
   height: 90vh;
}
.section_1 {
   font-size: 2rem;
   background-color: #1f2937;
   color: #c2c5cb;
}
.section_1 div {
   flex: 1;
   padding: 2rem;
}

button {
   background-color: #3a82f6;
   font-size: 1.5 rem;
   border-radius: 1rem;
   border: 0;
   padding: 1rem 2rem;
   color: #c2c5cb;
}
